@import "/src/App.scss";

.venueCard {
  background-color: #f6f6f6;
  color: black;
  border-radius: 4px;
  box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  max-width: 325px;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.02);
    color: black;
  }
}

.imgContent {
  width: 325px;
  height: 200px;
  // padding-bottom: 80%;
  // position: relative;
  overflow: hidden;

  .venueImage {
    // position: absolute;
    // top: 0;
    // left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px 4px 0 0;
  }
}

.cardContent {
  padding: 0.8rem;

  .titleAndRating {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h4 {
      font-weight: 500;
      font-size: 1rem;
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 100%;

      // @media (max-width: 600px) {
      //   font-size: 0.8rem;
      // }
    }
  }

  .ratingContent {
    display: flex;

    .ratingText {
      color: #cccccc;

      &.hasRating {
        color: $shadow-color;
      }
    }
  }
  .subTitle {
    color: rgba(0, 0, 0, 0.7);
    margin-top: 0;
    font-size: 0.9rem;

    margin-bottom: 2rem;
  }

  p {
    font-size: 1rem;
    margin: 0;
  }
}

