@import "/src/App.scss";

.venueList {
  display: flex;
  flex-wrap: wrap;
//   grid-template-columns: 1fr 1fr 1fr 1fr;
  // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  padding: 3rem 0;
  padding-top: 0;
  justify-content: center;
}

.pageBody {
  background-color: $body-color;
  margin: 10px 200px;
  padding: 1px 60px;
  border-radius: 8px;
  min-height: 100vh;
  //   position: relative;
  //   top: 3rem;

  transition: margin 0.5s;

  @media (max-width: 1500px) {
    margin: 0 100px;
  }
  @media (max-width: 800px) {
    margin: 0 50px;
  }
  @media (max-width: 500px) {
    margin: 0 15px;
  }
}
