@import "/src/App.scss";

.venueList {
  // overflow: hidden;
}

.cardWrapper {
  padding: 0.6rem;
}

.venueCard {
  background-color: #f6f6f6;
  color: black;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  max-width: 93%;

  @media (max-width: 1700px) {
    max-width: 92%;
  }
  @media (max-width: 1250) {
    max-width: 94%;
  }
  @media (max-width: 576) {
    max-width: 95%;
  }

  &:hover {
    transform: scale(1.02);
    color: black;
  }
}

.imgContent {
  width: 100%;
  height: 0;
  padding-bottom: 70%;
  position: relative;
  overflow: hidden;
}

.venueImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.cardContent {
  padding: 1rem;

  .titleAndRating {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h4 {
      font-size: 0.9rem;
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 100%;

      @media (max-width: 600px) {
        font-size: 0.8rem;
      }
    }
  }

  .ratingContent {
    display: flex;

    .ratingText {
      color: #cccccc;

      &.hasRating {
        color: $shadow-color;
      }
    }
  }
  .subTitle {
    color: rgba(0, 0, 0, 0.7);
    margin-top: 0;
    font-size: 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  p {
    font-size: 1rem;
    margin: 0;

    @media (max-width: 600px) {
      font-size: 0.9rem;
    }

    &:not(:last-child) {
      margin-bottom: 0.8rem;
    }
  }
}

// Loading / Placeholder

.placeholderCard {
  max-width: 100%;
  height: 12vw;
  transition: height .3s;
}

.placeholderImage {
  background-color: #ccc;
  border-radius: 5px;
  width: 11vw;
  transition: width .3s;
}

@media (max-width: 1880px) {
  .placeholderCard {
    height: 14vw;
  }
  .placeholderImage {
    width: 12.5vw;
  }
}

@media (max-width: 1640px) {
  .placeholderCard {
    height: 16vw;
  }
  .placeholderImage {
    width: 15vw;
  }
}

@media (max-width: 1400px) {
  .placeholderCard {
    height: 18vw;
  }
  .placeholderImage {
    width: 16vw;
  }
}

@media (max-width: 1125px) {
  .placeholderCard {
    height: 22vw;
  }
  .placeholderImage {
    width: 20vw;
  }
}

@media (max-width: 950px) {
  .placeholderCard {
    height: 29vw;
  }
  .placeholderImage {
    width: 26.5vw;
  }
}

@media (max-width: 550px) {
  .placeholderCard {
    height: 56vw;
  }
  .placeholderImage {
    width: 54vw;
  }
}

.loadingPlaceholders {
  display: flex;
  flex-wrap: wrap;
}
