// Colors
$primary-color: #23dd99;
$shadow-color: #21b47e; 
$secondary-color: #E84A;
$body-color: #F6F6F6;
$background-color: #DFDFDF;
$text-color: black;

// Typography
$primary-font: 'Oleo Script';
$secondary-font: 'Roboto', sans-serif;
