// Colors
$primary-color: #24ce90;
$shadow-color: #21b47e; 
$secondary-color: #f7923a;
$body-color: #F6F6F6;
$background-color: #DFDFDF;
$text-color: black;

// Typograph
$primary-font: 'Oleo Script';
$secondary-font: 'Roboto', sans-serif;
